.container {
  display: flex;
  height: 42px;
  align-items: center;
  justify-content: space-between;
  padding: 18px 159px 0 97px;
}

.headerAuthBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loginButton {
  margin-left: 33px;
  margin-right: 39px;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #2b2b2b;
  cursor: pointer;
  outline: none;
  padding: 0;
  border: 0;
  background: transparent;
}

.sellButton {
  background: #349a89;
  border-radius: 4px;
  height: 31px;
  width: 131px;
  font-size: 14px;
  line-height: 31px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Helvetica;
  padding: 0;
  border: none;
  cursor: pointer;
}
